header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-family: "Lilita One", cursive;
  font-size: 1.2rem;
}

@media (max-width: 700px) {
}
