
/* Import only the scales you need */
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';

#file-image {
  width: 270px;
}

#file-image.hidden {
  display: none;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.uploader.hover {
  border: 3px solid #2f7a67;
  box-shadow: inset 0 0 0 6px #eee;
}
#start > i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}

#start {
  float: left;
  clear: both;
  width: 100%;
}
#start.hidden {
  display: none;
}

i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

#file-drag {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: var(--gray-4);
  border-radius: 7px;
  border: 3px dashed var(--blue-4);
  transition: all 0.2s ease;
  user-select: none;
  justify-content: center;
  align-items: center;
}

#file-drag:hover {
}

#file-upload-form {
  margin-top: 20px;
}

.uploader > div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}

#notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

#notimage.hidden {
  display: none;
}

#response {
  width: 270px;
}

#response.hidden {
  display: none;
}

strong {
  display: block;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#messages {
  margin-bottom: 0.5rem;
}
#messages {
  margin-bottom: 0.5rem;
}

#file-upload-btn {
  margin: 50px;
}

.divSelect {
  margin: 20px;
}
