/* RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}
body {
  font-size: 1.3em;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  max-width: 50em;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
/* GRIDS */

.grilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  max-width: 60rem;
}

.grilla figure {
}
@media (prefers-color-scheme: dark) {
  body {
    background: #753;
    color: #dcb;
    outline: 5px dashed #000;
  }
}


input[type="radio"],
input[type="checkbox"]{
  appearance: auto;
}

.active{
  color: hotpink !important;
}
.topToolbar {
  position: sticky;
  top: 0;
  z-index: 9;
}